body{
    background-color:bisque;
}
p{
    color: black;

}
h1{
    color: rgb(66, 59, 50);

}
H4{
    color: chocolate;
}


H2{
 color: crimson;
}
.ABC{
    display: inline-block;
    padding:5px 10px;
    background-color:green
    color(white);
    text-align: center;
    
}
